{% extends "signed_template.html" %}
{% block title %}{{ data["name"] }} | Berkeley Law Seating Chart{% endblock %}
{% block body %}

<div class="ml-2">

    Welcome, {{ data["name"] }}!
    <br><br>
    Your role: {{ data["role"] }}
    <br>

        {% if data["classes"] %}
            You are teaching the following classes: <br>

            {% for classes in data["classes"] %}
                    {{ classes }} <br>
            {% endfor %}

        {% else %}
            You are not taking any classes this semester.
        {% endif %}

</div>
{% endblock %}


